    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section section bg-dark">
        <div class="container">
            <div class="row">
                
                <!-- Copyright Start -->
                <div class="copyright text-center col">
                    <p>Copyright &copy;{{ now.Format "2006"}} All Rights Reserved.</p>
                </div><!-- Copyright End -->
                
            </div>
        </div>
    </div><!-- Footer Bottom Section End -->
    
</div>

{{ $jqueryjs := "js/vendor/jquery-1.12.0.min.js" }}<script src="{{ $jqueryjs | absURL }}"></script>
{{ $popperminjs := "js/popper.min.js" }}<script src="{{ $popperminjs | absURL }}"></script>
{{ $bootstrapminjs := "js/bootstrap.min.js" }}<script src="{{ $bootstrapminjs | absURL }}"></script>
{{ $pluginsjs := "js/plugins.js" }}<script src="{{ $pluginsjs | absURL }}"></script>
{{ $ajaxmailjs := "js/ajax-mail.js" }}<script src="{{ $ajaxmailjs | absURL }}"></script>
{{ $mainjs := "js/main.js" }}<script src="{{ $mainjs | absURL }}"></script>